./backend-express/.env
/backend-express/.env
backend-express/.env

./backend-express/node_modules
/backend-express/node_modules
backend-express/node_modules

./backend-express/dist
/backend-express/dist
backend-express/dist

./frontend-react/node_modules
/frontend-react/node_modules
frontend-react/node_modules

.idea
./.idea
/.idea