.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.button {
    width: 300px;
    border: none;
    outline: none;
    color: var(--color-1);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5em;
    background-color: var(--block-color-3);
    border-radius: var(--border-radius-2);
    transition-duration: 0.2s;
}
.button:hover {
    background-color: var(--block-color-2);
}